.pixith-embed-modal .code{
    padding: 5px 10px;
    border: 1px solid #999;
    border-radius: 5px;
    box-sizing: border-box;
    background: #f9f9f9;
    font-family: 'Lato',Helvetica,Arial,Verdana;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    color: #777;
}

.pixith-embed-modal .code.selected {
    background-color: #8DD07F;
}

.pixith-embed-modal .embed-header {
    /* border-bottom: 1px solid #999; */
    color: #333;
}

.pixith-container {
    text-align: center;
}

.pixith-embed-modal .embed-subheader {
    color: #777;
    padding: 0;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 18px;
}

.pixith-embed-modal .code-container {
    position: relative;
}

.pixith-embed-modal .embed-copied {
    position: absolute;
    top: 0;
    left: 44%;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    opacity: 0;
    display: none;
}

@media screen and (min-width: 1024px) {
    #embedModal {
        min-width: 600px;
        max-width: 800px;
    }
}
