.pixith-embed-modal .code{
    padding: 5px 10px;
    border: 1px solid #999;
    border-radius: 5px;
    box-sizing: border-box;
    background: #f9f9f9;
    font-family: 'Lato',Helvetica,Arial,Verdana;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    color: #777;
}

.pixith-embed-modal .embed-header {
    border-bottom: 1px solid #999;
    color: #333;
}

.pixith-embed-modal .embed-subheader {
    color: #777;
    padding: 0;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 18px;
}
